div.row.section-btn-social 
    a(href="#").social-btn.face-btn
        div.col-xs-2
            span
            p Facebook
    a(href="").social-btn.twitter-btn
            div.col-xs-2
                span
                p Twitter
    a(href="").social-btn.google-btn
        div.col-xs-2
            span
            p Google+
    a(href="").social-btn.mail-btn
        div.col-xs-2
            span
            p E-mail
    a(href="").social-btn.whatsapp-btn
        div.col-xs-2
            span
            p WhatsApp
div.col-xs-12.content-ver-pdf-red
    div.ver-pdf-red
        p VER PDF 
            span PROYECTO
        a(href="#")
            img(src="/images/nube.svg")
div.col-xs-12
    a(href="#")
        p.volver__red << VOLVER