div.row 
    div.col-xs-12.col-md-6.img-pry
         a(href="#")
            div.cont-serv-img(style="background: url(images/project/pjs2.png) no-repeat center;")
                div.red-hover.row.middle-xs.center-xs
                    div.content-hover.center-xs
                        p INFORME RENDICIÓN DE CUENTAS
                div.fondo-gris-image-proyect
                div.btn-lg
                    p Conoce +
    div.col-xs-12.col-md-6.img-pry
        a(href="#")
            div.cont-serv-img(style="background: url(images/project/pjs2.png) no-repeat center;")
                div.red-hover.row.middle-xs.center-xs
                    div.content-hover.center-xs
                        p INFORME RENDICIÓN DE CUENTAS
                div.fondo-gris-image-proyect
                div.btn-lg
                    p Conoce +
    div.col-xs-12.col-md-6.img-pry
         a(href="#")
            div.cont-serv-img(style="background: url(images/project/pjs2.png) no-repeat center;")
                div.red-hover.row.middle-xs.center-xs
                    div.content-hover.center-xs
                        p INFORME RENDICIÓN DE CUENTAS
                div.fondo-gris-image-proyect
                div.btn-lg
                    p Conoce +
    div.col-xs-12.col-md-6.img-pry
         a(href="#")
            div.cont-serv-img(style="background: url(images/project/pjs2.png) no-repeat center;")
                div.red-hover.row.middle-xs.center-xs
                    div.content-hover.center-xs
                        p INFORME RENDICIÓN DE CUENTAS
                div.fondo-gris-image-proyect
                div.btn-lg
                    p Conoce +