div.row 
    div.col-xs-12.col-md-6.img-pry
        a(href="pry-desc.html")
            div.cont-serv-img(style="background: url(images/project/pjs1.png) no-repeat center;")
                div.red-hover
                div.fondo-gris-image-proyect
                div.btn-lg
                    p Conoce +
    div.col-xs-12.col-md-6.img-pry
        a(href="#")
            div.cont-serv-img(style="background: url(images/project/pjs2.png) no-repeat center;")
                div.red-hover
                div.fondo-gris-image-proyect
                div.btn-lg
                    p Conoce +
    div.col-xs-12.col-md-6.img-pry
        a(href="#")
            div.cont-serv-img(style="background: url(images/project/pjs3.png) no-repeat center;")
                div.red-hover
                div.fondo-gris-image-proyect
                div.btn-lg
                    p Conoce +
    div.col-xs-12.col-md-6.img-pry
        a(href="#")
            div.cont-serv-img(style="background: url(images/project/pjs4.png) no-repeat center;")
                div.red-hover
                div.fondo-gris-image-proyect
                div.btn-lg
                    p Conoce +