footer.footer
    div.row
        div.col-xs-12.col-sm-6.col-md-4
            div.content-contact-footer
                div.line /
                    p Teléfono
                    span +57 (1) 3823451 / 3441
                div.line /
                    p Dirección
                    span Edificio Nuevo del Congreso
                    br
                    strong Carrera 7 No 8-68. Oficina 228
                div.line /
                    p Correo electrónico
                    span.especial contacto@sandraotiz.co
                    span representante@sandraotiz.co
        div.col-xs-12.col-sm-6.col-md-4
            img.logo-footer(src="images/logo@X2.svg")
        div.col-xs-12.col-sm-12.col-md-4.right-footer
            img.butt(src="images/butterfly.svg")
            p Esta es la página oficial de SANDRA ORTÍZ ·Representante a la Cámara por Boyacá·
                br
                span ·Partido Alianza Verde·
            
    div.derechos
        p © TODOS LOS DERECHOS RESERVADOS - 
            span SANDRA ORTÍZ 2016
script(src="vendor/jquery-1.11.1.min.js")
script(src="vendor/jquery.media.js")
script(src="js/main.js")
script(src="vendor/bootstrap/bootstrap.min.js")
script(src="vendor/wow/wow.min.js")
script(src="vendor/owl-slide/owl.carousel.js")
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>