div.section-denuncia-form.row 
  div.col-xs-6.denuncia-form
      div.img-voz
      div.color__img__voz
          img(src="images/megafono.svg")
  div.col-xs-6.denuncia-form.row.middle-xs
      div.text-denuncie.col-xs-12
          p SU VOZ EN EL CONGRESO
          span Denuncie 
              strong.js-active-detalle aquí
  div.col-xs-12.content-form-right.js-accordeon 
     form.form-right.row
         div.col-xs-12
             select(name="tipo")
                 option Tema o categoría
                 option 1
                 option 2
                 option 3
                 option 4
             input(name="",placeholder="Correo electronico")
             textarea(name="",placeholder="Denuncia")
         div.col-xs-5
             input(name="",placeholder="Nombre")
         div.col-xs-6
             input.input-left(name="",placeholder="Apellido")
         a(href="#")
             div.btn-form
                p ENVIAR
                  