div.row.section__ver 
    div.col-xs-12.col-sm-10
        div.content-calendar(style="margin-top: 0px;")
            p CONGRESO POR LA MUJER
                br
                span Yopal - Colombia
    div.col-xs-12.col-sm-2.headerver
        a
            div.btn-calendar(style="margin-top: -2px")
                p VER +
    div.contentvermas.col-xs-11
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio suscipit eligendi reiciendis quam! Atque, necessitatibus. Ullam ipsum, dolorum quasi tempore voluptatibus, iusto ea labore ab iste magni, maxime. Illum, quisquam.
        p
            strong Solocitado a:  
            span Comisión Primera
        p
            strong Fecha: 
            span Abril 13 de 2014
        p
            strong Estado: 
            span En lectura
        div.col-xs-12(style="text-align: -webkit-center; margin-top: 50px;")
                a.media(href="nn.pdf")
    div.col-xs-12.col-sm-10
        div.content-calendar(style="margin-top: 0px;")
            p CONGRESO POR LA MUJER
                br
                span Yopal - Colombia
    div.col-xs-12.col-sm-2
        a(href="#")
            div.btn-calendar(style="margin-top: -2px")
                p VER +
    div.col-xs-12.col-sm-10
        div.content-calendar(style="margin-top: 0px;")
            p CONGRESO POR LA MUJER
                br
                span Yopal - Colombia
    div.col-xs-12.col-sm-2
        a(href="#")
            div.btn-calendar(style="margin-top: -2px")
                p VER +
    div.col-xs-12.col-sm-10
        div.content-calendar(style="margin-top: 0px;")
            p CONGRESO POR LA MUJER
                br
                span Yopal - Colombia
    div.col-xs-12.col-sm-2
        a(href="#")
            div.btn-calendar(style="margin-top: -2px")
                p VER +
