header.row.between-xs 
    div.bar-menu.col-xs-3
        a(href="index.html")
            img.logo(src="images/logo@X2.svg")
    input(type="checkbox" id="btn-menu")
    label(for="btn-menu" class="icon-menu")

    nav.menu.col-xs-9
        ul
            li.col-xs.dropdown
                div.menu-item.row.middle-xs
                    span /
                    p BIOGRAFÍA
                ul
                    li.sub-menu
                        a(href="perfil.html")
                            p / 
                                span PERFIL
                    li.sub-menu
                        a(href="equipo.html")
                            p /  
                                span EQUIPO
                    li.sub-menu
                        a(href="agenda.html")
                            p /  
                                span AGENDA
            li.col-xs.dropdown
                div.menu-item.row.middle-xs
                    span /
                    p NUESTRA GESTIÓN
                ul
                    li.sub-menu
                        a(href="proyecto.html")
                            p /  
                                span PROYECTOS DE LEY
                    li.sub-menu
                        a(href="proposiciones.html")
                            p /  
                                span PROPOSICIONES
                    li.sub-menu
                        a(href="debate.html")
                            p /  
                                span DEBATES DE CONTROL POLÍTICO
                    li.sub-menu
                        a(href="foro.html")
                            p /  
                                span FOROS
                    li.sub-menu
                        a(href="audiencia.html")
                            p /  
                                span AUDIENCIAS PUBLICAS
                    li.sub-menu
                        a(href="rendicion.html")
                            p /  
                                span RENDICIÓN DE CUENTAS
            li.col-xs.dropdown
                div.menu-item.row.middle-xs
                    span /
                    p PROYECTOS EMBLEMÁTICOS
                ul
                    li.sub-menu
                        a(href="pry-desc.html")
                            p /  
                                span LEY 50/50 
                    li.sub-menu.row.center-xs
                        a(href="pry-desc.html")
                            p /  
                                span BICENTENARIO
                    li.sub-menu.row.center-xs
                        a(href="pry-desc.html")
                            p /  
                                span MINISTERIO DE LA MUJER
                    li.sub-menu.row.center-xs
                        a(href="pry-desc.html")
                            p /  
                                span TRAVESIAS BLANCAS
                    li.sub-menu.row.center-xs
                        a(href="pry-desc.html")
                            p /  
                                span MISIÓN PARAMO
            li.col-xs
                div.menu-item
                    a(href="rendicion.html").row.middle-xs
                        span /
                        p RENDICIÓN DE CUENTAS
            li.col-xs.dropdown
                div.menu-item.row.middle-xs
                    span /
                    p PRENSA
                ul
                    li.sub-menu
                        a(href="comunicados.html")
                            p /  
                                span COMUNICADOS DE PRENSA
                    li.sub-menu
                        a(href="prensa_video.html")
                            p /  
                                span VIDEOS
            li.col-xs
                div.menu-item
                    a(href="contacto.html").row.middle-xs
                        span /
                        p CONTACTO
        
