div.line / 
    h1 PUBLICACIONES
        br
        span PROPIAS 
div.col-xs-12.content-notice
    h3 Protección para la mujer del campo boyasence
    span Feb 12, 2016
    p Según un estudio del Dpto de Geografía de la Universidad Nacional de Colombia - Sitio Oficial, señala que existe...
        a(href="#")
            span Seguir leyendo
div.col-xs-12.content-notice
    h3 Protección para la mujer del campo boyasence
    span Feb 12, 2016
    p Según un estudio del Dpto de Geografía de la Universidad Nacional de Colombia - Sitio Oficial, señala que existe...
        a(href="#")
            span Seguir leyendo
div.btn-notice
    a(href="publicacion-propia.html")
        p OTRAS PUBLICACIONES