div.line /
    h1 REDES 
        br 
        span SOCIALES
div.content-social
    img(src="images/face.svg")
    img(src="images/twitter.svg")
    img(src="images/youtube.svg")
a.twitter-timeline(data-width="350px" href="https://twitter.com/SandraOrtizN" data-widget-id="709968317876985856")
br
br
div.fb-page(style="margin-top: 30px;" data-href="https://www.facebook.com/sandraortizoficial/" data-width="310px" data-tabs="timeline" data-height="300" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true")
    div.fb-xfbml-parse-ignore
        blockquote(cite="https://www.facebook.com/sandraortizoficial/?fref=ts")
            a(href="https://www.facebook.com/sandraortizoficial/?fref=ts")