include ./_head.jade  
body
    div#fb-root
    script 
        include ./script.js
    include ./_menu.jade
    div.frame-header-team
    div.img-frame-team
    div.content-frame-team
        span.numeral #
        h1 NUESTRA GESTIÓN<br>ES UNA REALIDAD
    div.content.row(style="margin-top: -30px")
        div.col-xs-12.col-lg-8
            div.section-article
                div.line /
                    h1 PROYECTOS  
                        br
                        span DE LEY
            div.section-image-ley
                img(src="images/project/pjs1.png") 
            div.title-green-date
                h3 Proyecto Bicentenario
                p Feb 12, 2016 
            div.row
                p.text-gray-dark Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que signifi- ca un proyecto de ley.
                p.text-gray Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que signifi- ca un proyecto de ley.
                img.img-pry-ley-arti(src="images/image-pry-ley.jpg")
                p.text-gray Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que signifi- ca un proyecto de ley.
                p.text-gray Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que signifi- ca un proyecto de ley. <br><br>   Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que signifi- ca un proyecto de ley.
        include ./__panel-der.jade
    include ./_footer.jade