include ./_head.jade  
body
    div#fb-root
    script
        include script.js
    include ./_menu.jade
    div.frame-header
    div.img-frame-header
    div.content-frame
        img(src="images/sandra.png")
        div.row.middle-xs
            div.col-xs-12
                h1 NUESTRA GESTIÓN
                    br
                    span ES UNA REALIDAD
    div.content.row
        div.col-xs-12.col-lg-8
            div.slide-index
                div#owl-demo.owl-carousel.owl-theme
                    div.item 
                        div.content__slide
                            div.background-slide
                            img.img(src="images/slide/img-slide-01.svg")
                            a(href="#")
                                div.btn
                                    p Conoce más 
                                        span aquí
                        img(src="images/slide/image-01.jpg")
                    div.item
                        div.content__slide
                            div.background-slide
                            img.img(src="images/slide/img-slide-01.svg")
                            a(href="#")
                                div.btn
                                    p Conoce más 
                                        span aquí
                        img(src="images/slide/image-01.jpg")
                    div.item
                        div.content__slide
                            div.background-slide
                            img.img(src="images/slide/img-slide-01.svg")
                            a(href="#")
                                div.btn
                                    p Conoce más 
                                        span aquí
                        img(src="images/slide/image-01.jpg")
            div.section-article
                div.line /
                    h1 RENDICIÓN
                        br
                        span DE CUENTAS
                article.row
                    div.col-xs-12.col-md-6.row.middle-xs.parrafo__leer
                        div.col-xs-12
                            p Como congresistas tenemos tres tareas: hacer leyes, controlar al ejecutivo Como congresistas tenemos tres tareas: hacer leyes, controlar al ejecutivo
                    div.col-xs-12.col-md-6.row.middle-xs.pdf-content
                        div.col-xs-12.info-pdf
                            h1 LEER INFORME  
                                br
                                span 2015
                        a(href="#")
                            img(src="images/nube.svg")
                div.line /
                    h1 PROYECTOS
                        br 
                        span EMBLEMÁTICOS
                include ./_conoce.jade
                div.line /
                    h1 AGENDA
                        br 
                        span POLÍTICA
                div.row.calendar
                    div.col-xs-1
                        div.circle-number
                            h2 22
                                br
                                span FEB
                                br
                                strong 2016
                    div.col-xs-10.col-sm-9
                        div.content-calendar
                            p CONGRESO POR LA MUJER
                                br
                                span Yopal - Colombia
                    div.col-xs-12.col-sm-2.headerver
                        a
                            div.btn-calendar(style="margin-top: -22px")
                                p VER +
                    div.contentvermas.col-xs-11
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio suscipit eligendi reiciendis quam! Atque, necessitatibus. Ullam ipsum, dolorum quasi tempore voluptatibus, iusto ea labore ab iste magni, maxime. Illum, quisquam.
                        p
                            strong Solocitado a:  
                            span Comisión Primera
                        p
                            strong Fecha: 
                            span Abril 13 de 2014
                        p
                            strong Estado: 
                            span En lectura
                        div.col-xs-12(style="text-align: -webkit-center; margin-top: 50px;")
                            a.media(href="nn.pdf")
                div.row.calendar
                    div.col-xs-1
                        div.circle-number
                            h2 22
                                br
                                span FEB
                                br
                                strong 2016
                    div.col-xs-10.col-sm-9
                        div.content-calendar
                            p CONGRESO POR LA MUJER
                                br
                                span Yopal - Colombia
                    div.col-xs-12.col-sm-2.headerver
                        a
                            div.btn-calendar(style="margin-top: -22px")
                                p VER +
                    div.contentvermas.col-xs-11
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio suscipit eligendi reiciendis quam! Atque, necessitatibus. Ullam ipsum, dolorum quasi tempore voluptatibus, iusto ea labore ab iste magni, maxime. Illum, quisquam.
                        p
                            strong Solocitado a:  
                                span Comisión Primera
                        p
                            strong Fecha: 
                                span Abril 13 de 2014
                        p
                            strong Estado: 
                                span En lectura
                        div.col-xs-12(style="text-align: -webkit-center; margin-top: 50px;")
                            a.media(href="nn.pdf")
                div.row.calendar
                    div.col-xs-1
                        div.circle-number
                            h2 22
                                br
                                span FEB
                                br
                                strong 2016
                    div.col-xs-10.col-sm-9
                        div.content-calendar
                            p CONGRESO POR LA MUJER
                                br
                                span Yopal - Colombia
                    div.col-xs-12.col-sm-2.headerver
                        a
                            div.btn-calendar(style="margin-top: -22px")
                                p VER +
                    div.contentvermas.col-xs-11
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio suscipit eligendi reiciendis quam! Atque, necessitatibus. Ullam ipsum, dolorum quasi tempore voluptatibus, iusto ea labore ab iste magni, maxime. Illum, quisquam.
                        p
                            strong Solocitado a:  
                                span Comisión Primera
                        p
                            strong Fecha: 
                                span Abril 13 de 2014
                        p
                            strong Estado: 
                                span En lectura
                        div.col-xs-12(style="text-align: -webkit-center; margin-top: 50px;")
                            a.media(href="nn.pdf")
                div.suscrib.section-denuncia-form
                    div.content-suscrib.row.center-xs.middle-xs
                        div.col-xs-8
                            div.line 
                                span /
                                    h1 SUSCRÍBETE Y RECIBE      NUESTROS COMUNICADOS
                                    h5 Ingresa tus datos 
                                        strong.js-active-detalle aquí
                    div.js-accordeon.content-form-suscrib
                        form.row.form-suscrib
                            div.col-xs-7
                                input(name="",placeholder="Nombre")
                            div.col-xs-5(style="padding-left: 10px;")
                                select(name="tipo")
                                    option Cuidad
                                    option 1
                                    option 2
                                    option 3
                                    option 4
                            div.col-xs-12
                                input(name="",placeholder="Correo electronico")
                            a(href="#")
                                div.btn-form
                                    p ENVIAR
                div.line /
                    h1 ÚLTIMAS 
                        br
                        span NOTICIAS
                div.row.notice
                    div.col-xs-12.col-md-6.content-notice
                        img(src="images/notice/noti1.jpg")
                        h3 Protección para la mujer del campo boyasence
                        span Feb 12, 2016
                        p Según un estudio del Dpto de Geografía de la Universidad Nacional de Colombia - Sitio Oficial, señala que existe...
                            a(href="publicacion.html")
                                span Seguir leyendo
                    div.col-xs-12.col-md-6.content-notice
                        img(src="images/notice/noti1.jpg")
                        h3 Protección para la mujer del campo boyasence
                        span Feb 12, 2016
                        p Según un estudio del Dpto de Geografía de la Universidad Nacional de Colombia - Sitio Oficial, señala que existe...
                            a(href="publicacion.html")
                                span Seguir leyendo
                    div.btn-notice
                        a(href="publicacion.html")
                            p OTRAS NOTICIAS
        div.col-xs-12.col-lg-4
            div.row.content-right
                include ./_form.jade                
                include ./_noticias.jade
                include ./_social.jade
    include ./_footer.jade
             