include ./_head.jade  
body
    div#fb-root
    script
        include script.js
    include ./_menu.jade
    div.banner-perfil
        div.detalle-perfil
            h1 NUESTRA GESTIÓN
                br
                span ES UNA REALIDAD
            p Estoy comprometida con la transparencia. En esta sección encontrarás toda la información sobre quién soy, qué he hecho, mis viajes, quiénes conforman mi equipo y todo lo relacionado con mi trabajo y resultados en el Congreso.
        div.fondo-perfil 
    div.content.row
        div.col-xs-12.col-lg-8
            div.section-article
                div.line /
                    h1 PERFIL
                        br
                        span PERSONAL
                div.row
                   p Comprometida con las causas sociales y el mejoramiento de la calidad de vida de las personas; con gran capacidad de liderazgo, experiencia en la gestión de proyectos y las relaciones públicas. Promotora de las Travesías Blancas por Colombia, gestora del proyecto y escritora del libro: Mariposas de la Libertad (Mujeres constructoras de Paz). 
                div.line /
                    h1 FORMACIÓN
                        br 
                        span Y EDUCACIÓN
                div.row
                    div.col-xs-12.hty-edu
                        div.cont-hry-edu
                            p Universidad La Salle - Administración de Empresas
                                br
                                span Periodo 2014 - 2018
                        div.cont-hry-edu
                            p Universidad La Salle - Administración de Empresas
                                br
                                span Periodo 2014 - 2018
                        div.cont-hry-edu
                            p Universidad La Salle - Administración de Empresas
                                br
                                span Periodo 2014 - 2018
                            
                        a(href="#")
                            div.btn-lg
                                p Conoce +
                div.line /
                    h1 EXPERIENCIA
                        br 
                        span LABORAL
                div.row
                    div.col-xs-12.hty-edu
                        div.cont-hry-edu
                            p Universidad La Salle - Administración de Empresas
                                br
                                span Periodo 2014 - 2018
                        div.cont-hry-edu
                            p Universidad La Salle - Administración de Empresas
                                br
                                span Periodo 2014 - 2018
                        div.cont-hry-edu
                            p Universidad La Salle - Administración de Empresas
                                br
                                span Periodo 2014 - 2018
                            
                        a(href="#")
                            div.btn-lg
                                p Conoce +
                 div.line /
                    h1 OTROS
                        br 
                        span RECONOCIMIENTOS
                div.row
                   p - En 2009 Ganadora del premio al merito ejecutivo sobresaliente en Boyacá; así mismo, nombrada como "La Madrina del Deporte" por reconocimiento del Gobierno de Boyacá por el trabajo social a través del deporte con las diferentes comunidades del departamento y gestión de 3.000 millones de pesos con los que el Gobierno nacional se   vinculó para la construcción del estadio La Independencia de Tunja. 
                   p - Reconocimientos formales en municipios como Paz de Río, Moniquirá, El Cocuy, Ráquira, Tunja entre otros por la gestión y la labor social desarrollada en los mismos en 2009 -2010.
                 
        include ./__panel-der.jade
    include ./_footer.jade
             