include ./_head.jade 
body
    div#fb-root
    script 
        include ./script.js
    include ./_menu.jade
    div.frame-header-team
    div.img-frame-team
    div.content-frame-team
        span.numeral #
        h1 NUESTRA GESTIÓN<br>ES UNA REALIDAD
    div.content.row(style="margin-top: -30px")
        div.col-xs-12.col-lg-8
            div.section-article
                div.line /
                    h1 PROPOSICIONES
                div.row
                    p Descripción muy breve de lo que significa una propisición. 
                include ./_franja-ver.jade
        include ./__panel-der.jade
    include ./_footer.jade 