include ./_head.jade 
body
    div#fb-root
    script 
        include ./script.js
    include ./_menu.jade
    div.frame-header-team
    div.img-frame-team
    div.content-frame-team
        span.numeral #
        h1 NUESTRA GESTIÓN<br>ES UNA REALIDAD
    div.content.row(style="margin-top: -30px")
        div.col-xs-12.col-lg-8
            div.section-article
                div.line /
                    h1 PROYECTOS  
                        br
                        span DE LEY
                div.row
                    p Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que signifi- ca un proyecto de ley.
                div.line /
                    h1 PROYECTOS
                        br
                        span PROPIOS
                include ./_conoce.jade 
                div.line /
                    h1 PROYECTOS
                        br
                        span APOYADOS
                include ./_franja-ver.jade
        include ./__panel-der.jade
    include ./_footer.jade