include ./_head.jade 
body
    div#fb-root
    script 
        include ./script.js
    include ./_menu.jade
    div.frame-header-team
    div.img-frame-team
    div.content-frame-team
        span.numeral #
        h1 NUESTRA GESTIÓN<br>ES UNA REALIDAD
    div.content.row(style="margin-top: -30px")
        div.col-xs-12.col-lg-8
            div.section-article
                div.line /
                    h1 PROYECTOS  
                        br
                        span DE LEY
            div.section-image-ley
                img(src="images/project/pjs1.png")
            div.title-green-date
                h3 Proyecto Bicentenario
                p Feb 12, 2016  
            div.row
                p.text-gray Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que signifi- ca un proyecto de ley.Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que signifi- ca un proyecto de ley.
                img.img-pry-ley-arti(src="images/image-pry-ley.jpg")
                p.text-gray Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que signifi- ca un proyecto de ley.
                iframe(src="http://www.youtube.com/embed/dFVxGRekRSg" frameborder="0")
                p.text-gray Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que signifi- ca un proyecto de ley. <br><br>   Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que signifi- ca un proyecto de ley.
                div.col-xs-6.center-xs
                    img(src="images/articulos/art-1.jpg")
                div.col-xs-6.center-xs
                     img(src="images/articulos/art-2.jpg")
                p.text-gray Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que signifi- ca un proyecto de ley. <br><br>   Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que significa un proyecto de ley. Descripción muy breve de lo que signifi- ca un proyecto de ley.
                div.col-xs-12(style="text-align: -webkit-center; margin-top: 50px;")
                    a.media(href="nn.pdf")
                div.row.section-btn-social
                    a(href="#").social-btn.face-btn
                        div.col-xs-2
                            span
                            p Facebook
                    a(href="").social-btn.twitter-btn
                        div.col-xs-2
                            span
                            p Twitter
                    a(href="").social-btn.google-btn
                        div.col-xs-2
                            span
                            p Google+
                    a(href="").social-btn.mail-btn
                        div.col-xs-2
                            span
                            p E-mail
                    a(href="").social-btn.whatsapp-btn
                        div.col-xs-2
                            span
                            p WhatsApp
                div.col-xs-12.content-ver-pdf-red
                    div.ver-pdf-red
                        p VER PDF 
                            span PROYECTO
                        a(href="#")
                            img(src="images/nube.svg")
                div.col-xs-12
                    a(href="#")
                        p.volver__red << VOLVER 
        include ./__panel-der.jade
    include ./_footer.jade