include ./_head.jade 
body
    div#fb-root
    script
        include ./script.js
    include ./_menu.jade
    div.frame-header-team
    div.img-frame-team
    div.content-frame-team
        span.numeral #
        h1 NUESTRA GESTIÓN
            br
            span ES UNA REALIDAD
    div.content-team.row
        div.col-xs-12.col-lg-8
            div.section-article 
                div.line /
                    h1 EQUIPO
                        br
                        span PROFESIONAL
                div.row.section-team.center-xs
                    div.col-xs-12.col-sm-6(style="background: url(images/team/team-01.jpg) no-repeat center;")
                    div.col-xs-12.col-sm-6.content-team-desc
                        div.line-team /
                            h1 JULIANA ROSAS
                                br
                                span Asesora en comunicaciones
                        p Comunicadora social de la universidad de Boyacá. Especialista en relaciones públicas. Comunicadora social de la universidad de Boyacá. Especialista en relaciones públicas. Comunicadora social de la universidad de Boyacá. Especialista en relaciones públicas. 
                        h3 julianar@sandraortiz.co
                div.row.section-team.center-xs
                    div.col-xs-12.col-sm-12.content-team-desc
                        div.line-team /
                            h1 JULIANA ROSAS
                                br
                                span Asesora en comunicaciones
                        p Comunicadora social de la universidad de Boyacá. Especialista en relaciones públicas. Comunicadora social de la universidad de Boyacá. Especialista en relaciones públicas. Comunicadora social de la universidad de Boyacá. Especialista en relaciones públicas. 
                        h3 julianar@sandraortiz.co
        include ./__panel-der.jade
    include ./_footer.jade
             