
<div class="row"> 
  <div class="col-xs-12 col-md-6 img-pry"><a href="#">
      <div style="background: url(images/project/pjs2.png) no-repeat center;" class="cont-serv-img">
        <div class="red-hover row middle-xs center-xs">
          <div class="content-hover center-xs">
            <p>INFORME RENDICIÓN DE CUENTAS</p>
          </div>
        </div>
        <div class="fondo-gris-image-proyect"></div>
        <div class="btn-lg">
          <p>Conoce +</p>
        </div>
      </div></a></div>
  <div class="col-xs-12 col-md-6 img-pry"><a href="#">
      <div style="background: url(images/project/pjs2.png) no-repeat center;" class="cont-serv-img">
        <div class="red-hover row middle-xs center-xs">
          <div class="content-hover center-xs">
            <p>INFORME RENDICIÓN DE CUENTAS</p>
          </div>
        </div>
        <div class="fondo-gris-image-proyect"></div>
        <div class="btn-lg">
          <p>Conoce +</p>
        </div>
      </div></a></div>
  <div class="col-xs-12 col-md-6 img-pry"><a href="#">
      <div style="background: url(images/project/pjs2.png) no-repeat center;" class="cont-serv-img">
        <div class="red-hover row middle-xs center-xs">
          <div class="content-hover center-xs">
            <p>INFORME RENDICIÓN DE CUENTAS</p>
          </div>
        </div>
        <div class="fondo-gris-image-proyect"></div>
        <div class="btn-lg">
          <p>Conoce +</p>
        </div>
      </div></a></div>
  <div class="col-xs-12 col-md-6 img-pry"><a href="#">
      <div style="background: url(images/project/pjs2.png) no-repeat center;" class="cont-serv-img">
        <div class="red-hover row middle-xs center-xs">
          <div class="content-hover center-xs">
            <p>INFORME RENDICIÓN DE CUENTAS</p>
          </div>
        </div>
        <div class="fondo-gris-image-proyect"></div>
        <div class="btn-lg">
          <p>Conoce +</p>
        </div>
      </div></a></div>
</div>