
<footer class="footer">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="content-contact-footer">
        <div class="line">/
          <p>Teléfono</p><span>+57 (1) 3823451 / 3441</span>
        </div>
        <div class="line">/
          <p>Dirección</p><span>Edificio Nuevo del Congreso</span><br/><strong>Carrera 7 No 8-68. Oficina 228</strong>
        </div>
        <div class="line">/
          <p>Correo electrónico</p><span class="especial">contacto@sandraotiz.co</span><span>representante@sandraotiz.co</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4"><img src="images/logo@X2.svg" class="logo-footer"/></div>
    <div class="col-xs-12 col-sm-12 col-md-4 right-footer"><img src="images/butterfly.svg" class="butt"/>
      <p>Esta es la página oficial de SANDRA ORTÍZ ·Representante a la Cámara por Boyacá·<br/><span>·Partido Alianza Verde·</span></p>
    </div>
  </div>
  <div class="derechos">
    <p>© TODOS LOS DERECHOS RESERVADOS - <span>SANDRA ORTÍZ 2016</span></p>
  </div>
</footer>
<script src="vendor/jquery-1.11.1.min.js"></script>
<script src="vendor/jquery.media.js"></script>
<script src="js/main.js"></script>
<script src="vendor/bootstrap/bootstrap.min.js"></script>
<script src="vendor/wow/wow.min.js"></script>
<script src="vendor/owl-slide/owl.carousel.js"></script><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>