
<div class="section-denuncia-form row"> 
  <div class="col-xs-6 denuncia-form">
    <div class="img-voz"></div>
    <div class="color__img__voz"><img src="images/megafono.svg"/></div>
  </div>
  <div class="col-xs-6 denuncia-form row middle-xs">
    <div class="text-denuncie col-xs-12">
      <p>SU VOZ EN EL CONGRESO</p><span>Denuncie <strong class="js-active-detalle">aquí</strong></span>
    </div>
  </div>
  <div class="col-xs-12 content-form-right js-accordeon"> 
    <form class="form-right row">
      <div class="col-xs-12">
        <select name="tipo">
          <option>Tema o categoría</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
        <input name="" placeholder="Correo electronico"/>
        <textarea name="" placeholder="Denuncia"></textarea>
      </div>
      <div class="col-xs-5">
        <input name="" placeholder="Nombre"/>
      </div>
      <div class="col-xs-6">
        <input name="" placeholder="Apellido" class="input-left"/>
      </div><a href="#">
        <div class="btn-form">
          <p>ENVIAR</p>
        </div></a>
    </form>
  </div>
</div>