
<div class="row section__ver"> 
  <div class="col-xs-12 col-sm-10">
    <div style="margin-top: 0px;" class="content-calendar">
      <p>CONGRESO POR LA MUJER<br/><span>Yopal - Colombia</span></p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-2 headerver"><a>
      <div style="margin-top: -2px" class="btn-calendar">
        <p>VER +</p>
      </div></a></div>
  <div class="contentvermas col-xs-11">
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio suscipit eligendi reiciendis quam! Atque, necessitatibus. Ullam ipsum, dolorum quasi tempore voluptatibus, iusto ea labore ab iste magni, maxime. Illum, quisquam.</p>
    <p><strong>Solocitado a:  </strong><span>Comisión Primera</span></p>
    <p><strong>Fecha: </strong><span>Abril 13 de 2014</span></p>
    <p><strong>Estado: </strong><span>En lectura</span></p>
    <div style="text-align: -webkit-center; margin-top: 50px;" class="col-xs-12"><a href="nn.pdf" class="media"></a></div>
  </div>
  <div class="col-xs-12 col-sm-10">
    <div style="margin-top: 0px;" class="content-calendar">
      <p>CONGRESO POR LA MUJER<br/><span>Yopal - Colombia</span></p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-2"><a href="#">
      <div style="margin-top: -2px" class="btn-calendar">
        <p>VER +</p>
      </div></a></div>
  <div class="col-xs-12 col-sm-10">
    <div style="margin-top: 0px;" class="content-calendar">
      <p>CONGRESO POR LA MUJER<br/><span>Yopal - Colombia</span></p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-2"><a href="#">
      <div style="margin-top: -2px" class="btn-calendar">
        <p>VER +</p>
      </div></a></div>
  <div class="col-xs-12 col-sm-10">
    <div style="margin-top: 0px;" class="content-calendar">
      <p>CONGRESO POR LA MUJER<br/><span>Yopal - Colombia</span></p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-2"><a href="#">
      <div style="margin-top: -2px" class="btn-calendar">
        <p>VER +</p>
      </div></a></div>
</div>