<!DOCTYPE html >
<html lang="en">
  <head>
    <title>Sandra Ortíz</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
    <link rel="shortcut icon" type="image/png" href="images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="vendor/wow/animate.min.css"/>
    <link rel="stylesheet" type="text/css" href="vendor/owl-slide/owl.theme.css"/>
    <link rel="stylesheet" type="text/css" href="vendor/owl-slide/owl.carousel.css"/>
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/bootstrap.css"/><script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "e5202f03-9657-4a12-84d3-d5d24a893541", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
  </head>
</html>