
<header class="row between-xs"> 
  <div class="bar-menu col-xs-3"><a href="index.html"><img src="images/logo@X2.svg" class="logo"/></a></div>
  <input type="checkbox" id="btn-menu"/>
  <label for="btn-menu" class="icon-menu"></label>
  <nav class="menu col-xs-9">
    <ul>
      <li class="col-xs dropdown">
        <div class="menu-item row middle-xs"><span>/</span>
          <p>BIOGRAFÍA</p>
        </div>
        <ul>
          <li class="sub-menu"><a href="perfil.html">
              <p>/ <span>PERFIL</span></p></a></li>
          <li class="sub-menu"><a href="equipo.html">
              <p>/  <span>EQUIPO</span></p></a></li>
          <li class="sub-menu"><a href="agenda.html">
              <p>/  <span>AGENDA</span></p></a></li>
        </ul>
      </li>
      <li class="col-xs dropdown">
        <div class="menu-item row middle-xs"><span>/</span>
          <p>NUESTRA GESTIÓN</p>
        </div>
        <ul>
          <li class="sub-menu"><a href="proyecto.html">
              <p>/  <span>PROYECTOS DE LEY</span></p></a></li>
          <li class="sub-menu"><a href="proposiciones.html">
              <p>/  <span>PROPOSICIONES</span></p></a></li>
          <li class="sub-menu"><a href="debate.html">
              <p>/  <span>DEBATES DE CONTROL POLÍTICO</span></p></a></li>
          <li class="sub-menu"><a href="foro.html">
              <p>/  <span>FOROS</span></p></a></li>
          <li class="sub-menu"><a href="audiencia.html">
              <p>/  <span>AUDIENCIAS PUBLICAS</span></p></a></li>
          <li class="sub-menu"><a href="rendicion.html">
              <p>/  <span>RENDICIÓN DE CUENTAS</span></p></a></li>
        </ul>
      </li>
      <li class="col-xs dropdown">
        <div class="menu-item row middle-xs"><span>/</span>
          <p>PROYECTOS EMBLEMÁTICOS</p>
        </div>
        <ul>
          <li class="sub-menu"><a href="pry-desc.html">
              <p>/  <span>LEY 50/50 </span></p></a></li>
          <li class="sub-menu row center-xs"><a href="pry-desc.html">
              <p>/  <span>BICENTENARIO</span></p></a></li>
          <li class="sub-menu row center-xs"><a href="pry-desc.html">
              <p>/  <span>MINISTERIO DE LA MUJER</span></p></a></li>
          <li class="sub-menu row center-xs"><a href="pry-desc.html">
              <p>/  <span>TRAVESIAS BLANCAS</span></p></a></li>
          <li class="sub-menu row center-xs"><a href="pry-desc.html">
              <p>/  <span>MISIÓN PARAMO</span></p></a></li>
        </ul>
      </li>
      <li class="col-xs">
        <div class="menu-item"><a href="rendicion.html" class="row middle-xs"><span>/</span>
            <p>RENDICIÓN DE CUENTAS</p></a></div>
      </li>
      <li class="col-xs dropdown">
        <div class="menu-item row middle-xs"><span>/</span>
          <p>PRENSA</p>
        </div>
        <ul>
          <li class="sub-menu"><a href="comunicados.html">
              <p>/  <span>COMUNICADOS DE PRENSA</span></p></a></li>
          <li class="sub-menu"><a href="prensa_video.html">
              <p>/  <span>VIDEOS</span></p></a></li>
        </ul>
      </li>
      <li class="col-xs">
        <div class="menu-item"><a href="contacto.html" class="row middle-xs"><span>/</span>
            <p>CONTACTO</p></a></div>
      </li>
    </ul>
  </nav>
</header>