
<div class="line">/ 
  <h1>PUBLICACIONES<br/><span>PROPIAS </span></h1>
</div>
<div class="col-xs-12 content-notice">
  <h3>Protección para la mujer del campo boyasence</h3><span>Feb 12, 2016</span>
  <p>Según un estudio del Dpto de Geografía de la Universidad Nacional de Colombia - Sitio Oficial, señala que existe...<a href="#"><span>Seguir leyendo</span></a></p>
</div>
<div class="col-xs-12 content-notice">
  <h3>Protección para la mujer del campo boyasence</h3><span>Feb 12, 2016</span>
  <p>Según un estudio del Dpto de Geografía de la Universidad Nacional de Colombia - Sitio Oficial, señala que existe...<a href="#"><span>Seguir leyendo</span></a></p>
</div>
<div class="btn-notice"><a href="publicacion-propia.html">
    <p>OTRAS PUBLICACIONES</p></a></div>