
<div class="row section-btn-social"><a href="#" class="social-btn face-btn">
    <div class="col-xs-2"><span></span>
      <p>Facebook</p>
    </div></a><a href="" class="social-btn twitter-btn">
    <div class="col-xs-2"><span></span>
      <p>Twitter</p>
    </div></a><a href="" class="social-btn google-btn">
    <div class="col-xs-2"><span></span>
      <p>Google+</p>
    </div></a><a href="" class="social-btn mail-btn">
    <div class="col-xs-2"><span></span>
      <p>E-mail</p>
    </div></a><a href="" class="social-btn whatsapp-btn">
    <div class="col-xs-2"><span></span>
      <p>WhatsApp</p>
    </div></a></div>
<div class="col-xs-12 content-ver-pdf-red">
  <div class="ver-pdf-red">
    <p>VER PDF <span>PROYECTO</span></p><a href="#"><img src="/images/nube.svg"/></a>
  </div>
</div>
<div class="col-xs-12"><a href="#">
    <p class="volver__red"><< VOLVER </p></a></div>