
<div class="line">/
  <h1>REDES <br/><span>SOCIALES</span></h1>
</div>
<div class="content-social"><img src="images/face.svg"/><img src="images/twitter.svg"/><img src="images/youtube.svg"/></div><a data-width="350px" href="https://twitter.com/SandraOrtizN" data-widget-id="709968317876985856" class="twitter-timeline"></a><br/><br/>
<div style="margin-top: 30px;" data-href="https://www.facebook.com/sandraortizoficial/" data-width="310px" data-tabs="timeline" data-height="300" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true" class="fb-page">
  <div class="fb-xfbml-parse-ignore">
    <blockquote cite="https://www.facebook.com/sandraortizoficial/?fref=ts"><a href="https://www.facebook.com/sandraortizoficial/?fref=ts"></a></blockquote>
  </div>
</div>