<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sandra Ortíz</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="vendor/wow/animate.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/owl-slide/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="vendor/owl-slide/owl.carousel.css">
  </head>
</html>
<body></body>
<div id="fb-root">
  <script> (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5&appId=203728599967701";
    fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));
  </script>
  <header>
    <div class="menu"><a href="index.html"><img src="images/logo@X2.svg" class="logo"></a>
      <input type="checkbox" id="btn-menu">
      <label for="btn-menu" class="icon-menu"></label>
      <ul class="nav">
        <li class="col-xs dropdown">
          <div class="menu-item"><span>/</span>
            <p>BIOGRAFÍA</p>
          </div>
          <ul>
            <li class="sub-menu"><a href="perfil.html"><span>/ </span>
                <p>PERFIL</p></a></li>
            <li class="sub-menu"><a href="equipo.html"><span>/ </span>
                <p>EQUIPO</p></a></li>
            <li class="sub-menu"><a href="agenda.html"><span>/ </span>
                <p>AGENDA</p></a></li>
          </ul>
        </li>
        <li class="col-xs dropdown">
          <div class="menu-item"><span>/</span>
            <p class="mrg">NUESTRA GESTIÓN</p>
          </div>
          <ul>
            <li class="sub-menu"><a href="proyecto.html"><span>/</span>
                <p>PROYECTOS DE LEY</p></a></li>
            <li class="sub-menu"><a href="proposiciones.html"><span>/</span>
                <p>PROPOSICIONES</p></a></li>
            <li class="sub-menu"><a href="debate.html"><span>/</span>
                <p>DEBATES DE CONTROL POLÍTICO</p></a></li>
            <li class="sub-menu"><a href="foro.html"><span>/</span>
                <p>FOROS</p></a></li>
            <li class="sub-menu"><a href="audiencia.html"><span>/</span>
                <p>AUDIENCIAS PUBLICAS</p></a></li>
            <li class="sub-menu"><a href="rendicion.html"><span>/</span>
                <p>RENDICIÓN DE CUENTAS</p></a></li>
          </ul>
        </li>
        <li class="col-xs dropdown">
          <div class="menu-item"><span>/</span>
            <p class="mrg">PROYECTOS EMBLEMÁTICOS</p>
          </div>
          <ul>
            <li class="sub-menu"><a href="ley-50.html"><span>/</span>
                <p>LEY 50/50</p></a></li>
            <li class="sub-menu"><a href="bicentenario.html"><span>/</span>
                <p>BICENTENARIO</p></a></li>
            <li class="sub-menu"><a href="min-mujer.html"><span>/</span>
                <p>MINISTERIO DE LA MUJER</p></a></li>
            <li class="sub-menu"><a href="travesia.html"><span>/</span>
                <p>TRAVESIAS BLANCAS</p></a></li>
            <li class="sub-menu"><a href="mision-paramo.html"><span>/</span>
                <p>MISIÓN PARAMO</p></a></li>
          </ul>
        </li>
        <li class="col-xs"><a href="rendicion.html"><span>/</span>
            <p>RENDICIÓN DE CUENTAS</p></a></li>
        <li class="col-xs dropdown">
          <div class="menu-item"><a href="prensa.html"><span>/</span>
              <p class="mrg">PRENSA</p></a></div>
          <ul>
            <li class="sub-menu"><a href="comunicados.html"><span>/</span>
                <p>COMUNICADOS DE PRENSA</p></a></li>
            <li class="sub-menu"><a href="prensa_video.html"><span>/</span>
                <p>VIDEOS</p></a></li>
          </ul>
        </li>
        <li class="col-xs"><a href="contacto.html"><span>/</span>
            <p>CONTACTO</p></a></li>
      </ul>
    </div>
  </header>
  <div class="frame-header-team"></div>
  <div class="img-frame-team"></div>
  <div class="content-frame-team"><span class="numeral">#</span>
    <h1>NUESTRA GESTIÓN<br>ES UNA REALIDAD</h1>
  </div>
  <div style="margin-top: -30px" class="content row">
    <div class="col-xs-8">
      <div class="section-article">
        <div class="line">/
          <h1>COMUNICADOS DE PRENSA</h1>
        </div>
      </div>
      <div class="row calendar">
        <div class="col-xs-10">
          <div style="margin-top: 0px;" class="content-calendar">
            <p>CONGRESO POR LA MUJER<br><span>Yopal - Colombia</span></p>
          </div>
        </div>
        <div class="col-xs-2"><a href="#">
            <div style="margin-top: -2px" class="btn-calendar">
              <p>VER +</p>
            </div></a></div>
        <div class="col-xs-10">
          <div style="margin-top: 0px;" class="content-calendar">
            <p>CONGRESO POR LA MUJER<br><span>Yopal - Colombia</span></p>
          </div>
        </div>
        <div class="col-xs-2"><a href="#">
            <div style="margin-top: -2px" class="btn-calendar">
              <p>VER +</p>
            </div></a></div>
        <div class="col-xs-10">
          <div style="margin-top: 0px;" class="content-calendar">
            <p>CONGRESO POR LA MUJER<br><span>Yopal - Colombia</span></p>
          </div>
        </div>
        <div class="col-xs-2"><a href="#">
            <div style="margin-top: -2px" class="btn-calendar">
              <p>VER +</p>
            </div></a></div>
        <div class="col-xs-10">
          <div style="margin-top: 0px;" class="content-calendar">
            <p>CONGRESO POR LA MUJER<br><span>Yopal - Colombia</span></p>
          </div>
        </div>
        <div class="col-xs-2"><a href="#">
            <div style="margin-top: -2px" class="btn-calendar">
              <p>VER +</p>
            </div></a></div>
      </div>
    </div>
    <div style="margin-top: 90px;" class="col-xs-4">
      <div class="row content-right">
        <div class="col-xs-6">
          <div class="img-voz"></div>
          <div class="color__img__voz"><img src="images/megafono.svg"></div>
        </div>
        <div class="col-xs-6">
          <div class="text-denuncie">
            <p>SU VOZ EN EL CONGRESO</p><span>Denuncie <strong>aquí</strong></span>
          </div>
        </div>
        <div class="col-xs-12">
          <form class="form-right row">
            <div class="col-xs-12">
              <select name="tipo">
                <option>Tema o categoría</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
              <input name="" placeholder="Correo electronico">
              <textarea name="" placeholder="Denuncia"></textarea>
            </div>
            <div class="col-xs-5">
              <input name="" placeholder="Nombre">
            </div>
            <div class="col-xs-6">
              <input name="" placeholder="Apellido" class="input-left">
            </div><a href="#">
              <div class="btn-form">
                <p>ENVIAR</p>
              </div></a>
          </form>
        </div>
        <div class="line">/
          <h1>PUBLICACIONES<br><span>PROPIAS </span></h1>
        </div>
        <div class="col-xs-12 content-notice">
          <h3>Protección para la mujer del campo boyasence</h3><span>Feb 12, 2016</span>
          <p>Según un estudio del Dpto de Geografía de la Universidad Nacional de Colombia - Sitio Oficial, señala que existe...<a href="#"><span>Seguir leyendo</span></a></p>
        </div>
        <div class="col-xs-12 content-notice">
          <h3>Protección para la mujer del campo boyasence</h3><span>Feb 12, 2016</span>
          <p>Según un estudio del Dpto de Geografía de la Universidad Nacional de Colombia - Sitio Oficial, señala que existe...<a href="#"><span>Seguir leyendo</span></a></p>
        </div>
        <div class="btn-notice"><a href="#">
            <p>OTRAS PUBLICACIONES</p></a></div>
        <div class="line">/
          <h1 class="title-red-right">REDES  <span>SOCIALES </span></h1>
        </div>
        <div class="content-social"><img src="images/face.svg"><img src="images/twitter.svg"><img src="images/youtube.svg"></div><a href="https://twitter.com/SandraOrtizN" data-widget-id="709968317876985856" data-chrome="noscrollbar" class="twitter-timeline"></a><br><br>
        <div data-href="https://www.facebook.com/sandraortizoficial/?fref=ts" data-tabs="timeline" data-height="300" data-adapt-container-width="false" data-small-header="true" data-width="100%" data-hide-cover="true" data-chrome="noscrollbar" data-show-facepile="true" class="fb-page">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.facebook.com/sandraortizoficial/?fref=ts"><a href="https://www.facebook.com/sandraortizoficial/?fref=ts">Sandra Ortiz (Página Oficial)</a></blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="row">
      <div class="col-xs-4">
        <div class="line">/
          <p>Teléfono</p><span>+57 (1) 3823451 / 3441</span>
        </div>
        <div class="line">/
          <p>Dirección</p><span>Edificio Nuevo del Congreso</span><br><strong>Carrera 7 No 8-68. Oficina 228</strong>
        </div>
        <div class="line">/
          <p>Correo electrónico</p><span class="especial">contacto@sandraotiz.co</span><span>representante@sandraotiz.co</span>
        </div>
      </div>
      <div class="col-xs-4"><img src="images/logo@X2.svg"></div>
      <div class="col-xs-4 right-footer"><img src="images/butterfly.svg" class="butt">
        <p>Esta es la página oficial de SANDRA ORTÍZ ·Representante a la Cámara por Boyacá·<br><span>·Partido Alianza Verde·</span></p>
      </div>
    </div>
    <div class="derechos">
      <p>© TODOS LOS DERECHOS RESERVADOS - <span>SANDRA ORTÍZ 2016</span></p>
    </div>
  </footer>
  <script src="vendor/jquery-1.11.1.min.js"></script>
  <script src="js/main.js"></script>
  <script src="vendor/bootstrap.min.js"></script>
  <script src="vendor/wow/wow.min.js"></script>
  <script src="vendor/owl-slide/owl.carousel.js"></script><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>